<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <a href="/">Ana Sayfa</a>
        <a href="/hakkimizda">Hakkımızda</a>
        <a href="/odalar">Odalar</a>
        <a href="/rezervasyon">Rezervasyon</a>
        <a href="/iletisim">İletişim</a>
        <a href="/giris">Giriş Yap</a>
        <a href="/profil">Profil</a>
        
    </nav>

    <br><br><br>
    <form action="/auth/login" method="post">
        <label for="usernameLGN">Username</label>
        <input type="text" id="usernameLGN" name="usernameLGN"> <!-- Corrected: name attribute added -->
        <label for="passwordLGN">Password</label>
        <input type="password" id="passwordLGN" name="passwordLGN">
        <input type="submit" value="Login">
    </form>
    
    <br><br><br>
    <a href="/register">REGİSTER</a>

    
</body>
</html>